.Rproj.user
.Rhistory
.RData
.Ruserdata
.woff
.woff2
docs
/doc
Meta
/Meta
/inst/devel_vignettes
/inst/devel/intern
/inst/devel/Archiv
/inst/devel/specifications.R
.Rcheck
*.Rcheck/
.posit/
*.tar.gz
*.tar.gz.asc
*.Rout
AGENTS.md
